@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,400;8..144,600&display=swap');


html {
	box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

/**-------TYPOS-------------**/

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-size: 3.5em;
    font-weight: 600;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 2em;
}

/**-------CONTAINER----------**/

.container {
    max-width: 960px;
    margin: 0 auto;
}
 
/**-------NAV--------------**/

nav {
    background-color: darkgray;
    width: 100%;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: black;
    margin-left: 2rem;
}
nav a:focus, nav a:hover {
    color: white;
}

/**-----------HEADER---------**/

header {
    min-height: 100vh;
}

#sobre  {
    justify-content: center;
}

#sobre img {
    width: 250px;
    border-radius: 50%;
    margin-top: 140px;
}

#sobre {
    display: flex;
}

#sobre .sobre-info {
    max-width: 400px;
    margin-top: 260px;
    margin-left: 3rem;
}

#sobre h3 {
    font-style: italic;
    font-weight: 200;
}

#sobre h2 {
    font-weight: 600;
    padding-top: 40px;
}

#sobre p {
    padding: 20px 0 60px;
}

#back-header {
    background: linear-gradient(rgb(0,0,0, 0.2),rgba(0,0,0, 0.3)), url('https://images.unsplash.com/photo-1488188840666-e2308741a62f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80') fixed;
	height: 260px;
	background-size: cover;
	background-position: bottom;
}

.icons-header {
    display: flex;
    place-content: space-around;
    width: 100%;
    font-size: 40px;
    margin-top: -40px;
    text-decoration: none;
}

/**--------------FORMAÇÂO E EXPE------ **/

#formacao {
    background: yellow;
    padding: 50px 0;
}

#experiencia {
    background: green;
    padding: 40px 0;
}

.main-info-single {
    display: flex;
    margin: 1.5rem 0;
}

.main-info-single span {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 0.8em;
}

.main-info-single h3 {
    font-size: 1.2em;
    font-weight: 600;
}

.main-info-single p {
    text-transform: uppercase;
    font-size: .8em;
    margin-top: 3px;
}

.black-border {
    border-left: black 8px solid;
    border-radius: 4px;
    margin-right: 1rem;
}

/**-----------PROJECTOS-------**/

#projectos h2 {
    padding: 40px 0;
}

#projectos .projectos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

#projectos .projecto-single-container {
    width: 280px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 30px;
}

#projectos .projecto-single-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    
}

#projectos button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 45%;
    border-radius: 6px;
}

.project-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/**---------CONTACT------**/

#contato {
    background: blue;
    padding: 40px 0;
}

#contato h2 {
    padding-bottom: 20px;
}

.contato-info {
    display: flex;
    justify-content: space-between;
}

.contato-info-text {
    width: 45%;
}

form {
    width: 45%;
}

#from, #reply, #message, #subject {
    display: flex;
    flex-direction: column;
}

form button {
    text-align: center;
}

.contato-info-text .icons-header {
    margin: 0;
    place-content: start;
}

.icons-header a:nth-child(2n) {
    margin: 0 20px;
}

.contato-info-text p {
    padding: 15px 0;
}


/**---------FOOTER----------**/

footer {
    background: red;
    text-align: center;
    padding: 20px;
}
